/* Home */

.Home-Container {
  padding: 240px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-HeroSection {
  margin-bottom: 80px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
