@import url("https://fonts.googleapis.com/css2?family=Grandstander&family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

/* Global */

.Flex {
  display: flex;
}

.FullWidthCenteringContainer {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */

.Home-Container {
  padding: 240px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-HeroSection {
  margin-bottom: 80px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-HighlightsSection {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}

/* Card Form */

.CardForm-Wrapper {
  margin: 32px;
}

.Form-InputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  width: 200px;
}

.FormFieldHelp {
  display: flex;
  margin-left: 6px;
  color: #aaa;
}
